<div #depositModal class="modal-header">
  <h4 class="modal-title pull-left">title</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="depositForm" (ngSubmit)="sendForm()">
    <div class="form-group">
      <input type="number" id="amount" class="form-control" formControlName="amount" placeholder="Amount">
    </div>
    <div class="form-group">
      <input type="text" id="user" class="form-control" formControlName="user" placeholder="Depsotied By">
    </div>
    <div class="form-group">
      <input type="datetime-local" id="datetime" class="form-control" formControlName="datetime" placeholder="Deposited On">
    </div>
    <a class="btn btn-primary" (click)="sendForm()" type="button">Deposit</a>
  </form>
</div>
