<div #createModal class="modal-header">
  <h4 class="modal-title pull-left">Edit Item</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" (ngSubmit)="sendForm()">
    <div class="form-group">
      <label for="name">Item Name:</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Item Name">
    </div>
    <div class="form-group">
      <label for="store">Item Store:</label>
      <select formControlName="store" (change)="onStoreSelect()" class="form-control" id="store">
          <option [ngValue]="1">Light of Hope</option>
          <option [ngValue]="2">ToguMogu</option>
      </select>
    </div>
    <div *ngIf="isCurrentTypeSelect" class="form-group">
      <label for="type">Item Type:</label>
      <select formControlName="type" class="form-control" id="type">
        <option *ngFor="let currentTypeValue of currentTypeSelect" [ngValue]="currentTypeValue.value">{{currentTypeValue.label}}</option>
      </select>
    </div>
    <button class="btn btn-success" type="button" (click)="sendForm()">Edit</button>
  </form>
</div>