<div class="inventory-details-wrapper">
  <div class="inventory-select-field row justify-content-center">
    <div class="form-group col-md-4">
        <label for="type-select">Select Inventory Type:</label>
        <select [(ngModel)]="currentTypeValue" (change)="filterType('type', currentTypeValue)" class="form-control" id="type-select">
          <option *ngFor="let currentTypeValue of currentTypeSelect" [ngValue]="currentTypeValue">{{currentTypeValue.label}}</option>
        </select>
    </div>
    <div class="form-group col-md-4">
      <label for="store-select">Select Inventory Store Type:</label>
      <select [(ngModel)]="currentStoreValue" (change)="filterStore('store', currentStoreValue)" class="form-control" id="store-select">
        <option [ngValue]="0">All</option>
        <option [ngValue]="1">Light of Hope</option>
        <option [ngValue]="2">ToguMogu</option>
      </select>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="index-tab" data-toggle="tab" href="#index" role="tab" aria-controls="index" aria-selected="true">Index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="deposit-tab" data-toggle="tab" href="#deposit" (click)="test()" role="tab" aria-controls="deposit" aria-selected="false">Deposit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="withdraw-tab" data-toggle="tab" href="#withdraw" role="tab" aria-controls="withdraw" aria-selected="false">Withdraw</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="index" role="tabpanel" aria-labelledby="index-tab">
      <div class="container-fluid mt-4">
          <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                Data Table Example</div>
              <div class="card-body">
                <div class="table-buttons d-flex justify-content-start align-items-center my-2">
                  <button (click)="onCreateModal()" type="button" class="btn btn-success">
                    <fa-icon [icon]="['fas','folder-plus']"></fa-icon>
                    <span> Create</span>
                  </button>
                  <div class="mr-2"></div>
                  <button (click)="onDepositModal()" type="button" class="btn btn-success">
                    <fa-icon [icon]="['fas','plus']"></fa-icon>
                    <span> Deposit</span>
                  </button>
                  <div class="mr-2"></div>
                  <button (click)="withdraw(5)" type="button" class="btn btn-success">
                    <fa-icon [icon]="['fas','minus']"></fa-icon>
                    <span> Withdraw</span>
                  </button>
                  <div class="mr-2"></div>
                  <button class="btn btn-success">
                    <fa-icon [icon]="['fas','edit']"></fa-icon>
                    <span> Edit</span>
                  </button>
                  <div class="mr-2"></div>
                  <button class="btn btn-success">
                    <fa-icon [icon]="['fas','trash-alt']"></fa-icon>
                    <span> Delete</span>
                  </button>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Type</th>
                      </tr>
                    </thead>
                    <tbody>	
                      <tr #inventoryRef (click)="onRowClick(inventory, i)" *ngFor="let inventory of filteredInventoryList; let i = index;">
                        <td>{{inventory.id}}</td>
                        <td>{{inventory.name}}</td>
                        <td>{{inventory.amount}}</td>
                        <td>{{inventory.typelabel}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
      </div>
    </div>
    <div class="tab-pane fade" id="deposit" role="tabpanel" aria-labelledby="deposit-tab">
      Deposit
      <div class="table-buttons d-flex justify-content-start align-items-center my-2">
        <button class="btn btn-success">
          <fa-icon [icon]="['fas','edit']"></fa-icon>
          <span> Edit</span>
        </button>
        <div class="mr-2"></div>
        <button class="btn btn-success">
          <fa-icon [icon]="['fas','trash-alt']"></fa-icon>
          <span> Delete</span>
        </button>
      </div>
    </div>
    <div class="tab-pane fade" id="withdraw" role="tabpanel" aria-labelledby="withdraw-tab">
      Withdraw
      <div class="table-buttons d-flex justify-content-start align-items-center my-2">
        <button class="btn btn-success">
          <fa-icon [icon]="['fas','edit']"></fa-icon>
          <span> Edit</span>
        </button>
        <div class="mr-2"></div>
        <button class="btn btn-success">
          <fa-icon [icon]="['fas','trash-alt']"></fa-icon>
          <span> Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>