.active-link{
    fa-icon{
        color: white;
    }
    a{
        color: white;
    }
    span{
        color: white;
    }
}
  
.sidebar {
    min-height: 100vh;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    #dropdown-item-last{
        padding-bottom: 0;
    }
    .dropdown-item{
        color: rgba(255, 255, 255, 0.5);
    }   
    .dropdown-extra{
        padding-bottom: 1rem;
        .show{
            padding: 0;
        }
    }
    .dropdown.show .dropdown-toggle::after {
        content: none;
    }
    .dropdown-toggle{
        padding-bottom: 0;
        content: none;  
    }
    .dropdown-toggle::after{
        content: none; 
    }
    .dropdown-menu{
        padding-top:0; 
        z-index: 0;
        border: none;
        background: #212529;
    }
    .dropdown-item:hover{
        background: transparent;
        color: rgba(255, 255, 255, 0.75);
    }
    .dropdown-item:focus{
        background: transparent;
        color: rgba(255, 255, 255, 0.75);
    }
}